@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Poppins:wght@300;400;500;700&family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
  --color1: #191717;
  --color2: #f1efef;
  --color3: #176b87;
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color2);
  min-width: 300px;
}

/* Header nav start */

header nav {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color1);
  backdrop-filter: blur(4px);
  height: 65px;
  position: relative;
  z-index: 999;
}

header nav > h2 > a {
  color: azure;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 300px;
  gap: 4px;
}

header nav ul a {
  display: block;
  color: azure;
  background-color: var(--color3);
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 180px;
}

nav h2 {
  margin-left: 0;
}

nav .menu-toggle {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 18px;
  width: 24px;
  position: relative;
  z-index: 9999;
}

nav .menu-toggle span {
  display: flex;
  height: 4px;
  background-color: var(--color2);
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
}

nav .menu-toggle input {
  position: absolute;
  z-index: 10;
  opacity: 0;
  height: 35px;
  width: 25px;
  top: -8;
}

.menu-toggle span:nth-child(2) {
  transform-origin: left;
}

.menu-toggle span:nth-child(4) {
  transform-origin: left;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(0.5px, -1.5px);
  width: 24px;
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform-origin: left;
  transform: scaleX(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(0px, 2.3px);
  width: 24px;
}

/* Header nav end */

/* Main head start */

main {
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  grid-template-areas:
    "head head feature-1"
    "head head feature-2";
  gap: 8px;
  margin-top: 1rem;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.head {
  grid-area: head;
  background-image: url(./img/Untitled-2.jpg);
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url(./img/Untitled-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.feature-2 {
  grid-area: feature-2;
  background-image: url(./img/Untitled-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.features a {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  padding: 10px;
}

.features h2 {
  color: var(--color2);
}

.features h4 {
  color: var(--color2);
}

/* Main head end */

/* Section product start */

#product {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  display: block;
  text-align: center;
  margin-top: 2rem;
  background-color: white;
}

#product h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section-products {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 1rem;
  padding-bottom: 1rem;
}

.img-content {
  height: 310px;
  width: 300px;
  position: relative;
  z-index: 1;
}

.img-back-top {
  position: absolute;
  left: 0;
  right: 0;
}

.img-front-top {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 1;
  transition: 0.3s ease;
}

.img-back {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-front {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: 0.3s ease;
}

.img-front:hover {
  opacity: 0;
}

.img-front-top:hover {
  opacity: 0;
}

.all-container-product img {
  height: 300px;
  cursor: pointer;
}

.all-container-product h4 {
  color: var(--color2);
  background-color: var(--color1);
  padding: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.all-container-product h3 {
  color: var(--color1);
}

.all-container-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-content-product a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Section product end */

/* Section about start */

#about {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

#about h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 8px;
}

.additional-feature-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 350px;
  padding: 1rem;
}

.afi-1 {
  background-image: url(./img/349441648_1284457989135541_6153957645414401589_n.jpg);
}

.afi-2 {
  background-image: url(./img/358387627_18372768349002274_4984108392273700959_n.jpg);
}

.afi-3 {
  background-image: url(./img/279234261_533997364977375_9177551727577035514_n.jpg);
}

.afi-4 {
  background-image: url(./img/369741769_18382146223002274_7779326017661453426_n.jpg);
}

.additional-feature-information h2 {
  color: var(--color2);
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  padding: 4px;
  width: 200px;
}

.additional-feature-information div {
  margin-top: 30%;
}

/* .additional-feature-information a {
  background-color: black;
} */

.additional-feature-information a h4 {
  color: var(--color2);
  background-color: black;
  padding: 8px;
  opacity: 1;
  transition: 0.1s ease-in;
}

.additional-feature-information a h4:hover {
  background-color: rgba(0, 0, 0, 0.555);
  backdrop-filter: blur(4px);
}

/* Section about end */

/* Footer start */

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color1);
  padding: 2rem;
  margin-top: 3rem;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--color2);
}

.img-container img {
  height: 50px;
  opacity: 1;
  transition: 0.3s ease;
}

.img-container img:hover {
  opacity: 0.8;
}

.img-container {
  display: flex;
  gap: 1rem;
}

/* Footer end */

/* Media query for s screen start */

@media (min-width: 0) and (max-width: 320px) {
  * {
    font-size: 12px;
  }

  /* body {
    min-width: 1px;
  } */
  body::-webkit-scrollbar {
    display: none;
  }
  /* Header Media query start */

  header nav ul {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: 0.3s cubic-bezier(1, 0.06, 0, 1.34);
  }

  nav ul.slide {
    transform: translateY(0);
  }

  nav .menu-toggle {
    display: flex;
  }

  nav h2 {
    margin: 0;
  }

  header nav > h2 > a {
    font-size: 20px;
  }

  /* Header Media query end */

  /* Main Feature media query start */
  main {
    grid-template-areas:
      "head head head"
      "feature-1 feature-2 feature-2";
    position: relative;
    z-index: -2;
    margin: 0;
  }

  .head {
    min-height: 200px;
  }
  .feature-1 {
    min-height: 120px;
    min-width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature-2 {
    min-height: 120px;
    min-width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features a {
    padding: 5px;
  }

  .feature-2 {
    min-height: 110px;
    min-width: 120px;
  }

  .features h2 {
    color: var(--color2);
    font-size: 14px;
  }

  .features h4 {
    color: var(--color2);
    font-size: 10px;
  }
  /* Main Feature media query end*/

  /* Product Section on Media Query start */

  .section-products {
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));

    gap: 1rem;
    padding-bottom: 1rem;
  }

  .all-container-product img {
    max-height: 150px;
  }

  .img-content {
    max-height: 160px;
    max-width: 150px;
  }

  /* Product Section on Media Query end */

  /* About Section media query start */

  .section {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }

  /* About Section media query end */

  /* Footer Section media query start */
  .img-container img {
    height: 40px;
  }
  /* Footer Section media query end */
}
/* Media query for s screen end */

/* Media query for m screen start */
@media (min-width: 320px) and (max-width: 375px) {
  * {
    font-size: 13.5px;
  }

  /* Header Media query start */

  header nav ul {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: 0.3s cubic-bezier(1, 0.06, 0, 1.34);
  }

  nav ul.slide {
    transform: translateY(0);
  }

  nav .menu-toggle {
    display: flex;
  }

  nav h2 {
    margin: 0;
  }

  header nav > h2 > a {
    font-size: 20px;
  }

  /* Header Media query end */

  /* Main Feature media query start */

  main {
    grid-template-areas:
      "head head head"
      "feature-1 feature-2 feature-2";
    position: relative;
    z-index: -2;
    margin: 0;
  }

  .head {
    min-height: 200px;
  }
  .feature-1 {
    min-height: 120px;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .feature-2 {
    min-height: 120px;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .features a {
    padding: 5px;
  }

  .feature-2 {
    min-height: 110px;
    min-width: 120px;
  }

  .features h2 {
    color: var(--color2);
    font-size: 14px;
  }

  .features h4 {
    color: var(--color2);
    font-size: 11.5px;
  }
  /* Main Feature media query end*/

  /* Product Section on Media Query start */

  .section-products {
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));

    gap: 1rem;
    padding-bottom: 1rem;
  }

  .all-container-product img {
    max-height: 150px;
  }

  .img-content {
    max-height: 160;
    max-width: 150;
  }

  /* Product Section on Media Query end */
  /* About Section media query start */

  .section {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
  .additional-feature-information {
    min-height: 300px;
  }
  /* About Section media query end */

  /* Footer Section media query start */
  .img-container img {
    height: 40px;
  }
  /* Footer Section media query end */
}
/* Media query for m screen end */

/* Media query for l screen start */
@media (min-width: 375px) and (max-width: 425px) {
  * {
    font-size: 14px;
  }

  /* Header Media query start */
  header nav ul {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: 0.3s cubic-bezier(1, 0.06, 0, 1.34);
  }

  nav ul.slide {
    transform: translateY(0);
  }

  nav .menu-toggle {
    display: flex;
  }

  nav h2 {
    margin: 0;
  }

  header nav > h2 > a {
    font-size: 20px;
  }

  /* Header Media query end */

  /* Main Feature media query start */

  main {
    grid-template-areas:
      "head head head"
      "feature-1 feature-2 feature-2";
    position: relative;
    z-index: -2;
    margin: 0;
  }

  .head {
    min-height: 200px;
  }
  .feature-1 {
    min-height: 130px;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .feature-2 {
    min-height: 130px;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .features a {
    padding: 5px;
  }

  .feature-2 {
    min-height: 110px;
    min-width: 120px;
  }

  .features h2 {
    color: var(--color2);
    font-size: 14px;
  }

  .features h4 {
    color: var(--color2);
    font-size: 13px;
  }
  /* Main Feature media query end*/

  /* Product Section on Media Query start */

  .section-products {
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));

    gap: 1rem;
    padding-bottom: 1rem;
  }

  .all-container-product img {
    max-height: 150px;
  }

  .img-content {
    max-height: 160px;
    max-width: 150px;
  }

  /* Product Section on Media Query end */

  /* About Section media query start */

  .section {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
  .additional-feature-information {
    min-height: 300px;
  }
  /* About Section media query end */

  /* Footer Section media query start */
  .img-container img {
    height: 40px;
  }
  /* Footer Section media query end */
}

/* Media query for l screen end */

/* Media query for xl screen start */
@media (min-width: 425px) and (max-width: 576px) {
  * {
    font-size: 16px;
  }

  /* Header Media query start */
  header nav ul {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: 0.3s cubic-bezier(1, 0.06, 0, 1.34);
  }

  nav ul.slide {
    transform: translateY(0);
  }

  nav .menu-toggle {
    display: flex;
  }

  nav h2 {
    margin: 0;
  }

  header nav > h2 > a {
    font-size: 20px;
  }

  /* Header Media query end */

  /* Main Feature media query start */

  main {
    grid-template-areas:
      "head head head"
      "feature-1 0 feature-2";
    position: relative;
    z-index: -2;
    margin: 0;
  }

  .head {
    min-height: 300px;
  }
  .feature-1 {
    min-height: 160px;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .feature-2 {
    min-height: 160px;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .features a {
    padding: 5px;
  }

  .features h2 {
    color: var(--color2);
    font-size: 16px;
  }

  .features h4 {
    color: var(--color2);
    font-size: 13px;
  }
  /* Main Feature media query end*/

  /* Product Section on Media Query start */

  .section-products {
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));

    gap: 1rem;
    padding-bottom: 1rem;
  }

  .all-container-product img {
    max-height: 150px;
  }

  .img-content {
    max-height: 160px;
    max-width: 150px;
  }

  /* Product Section on Media Query end */

  /* About Section media query start */

  .section {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
  .additional-feature-information {
    min-height: 300px;
  }
  /* About Section media query end */

  /* Footer Section media query start */
  .img-container img {
    height: 40px;
  }
  /* Footer Section media query end */
}
/* Media query for xl screen end */

/* Media query for tablet screen start */
@media (min-width: 576px) and (max-width: 768px) {
  * {
    font-size: 16.5px;
  }

  /* Header Media query start */
  header nav ul {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: 0.3s cubic-bezier(1, 0.06, 0, 1.34);
  }

  nav ul.slide {
    transform: translateY(0);
  }

  nav .menu-toggle {
    display: flex;
  }

  nav h2 {
    margin: 0;
  }

  header nav > h2 > a {
    font-size: 20px;
  }

  /* Header Media query end */

  /* Main Feature media query start */

  main {
    grid-template-areas:
      "head head head"
      "feature-1 0 feature-2";
    position: relative;
    z-index: -2;
    margin: 0;
  }

  .head {
    min-height: 380px;
  }
  .feature-1 {
    min-height: 160px;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .feature-2 {
    min-height: 160px;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .features a {
    padding: 5px;
  }

  .features h2 {
    color: var(--color2);
    font-size: 17px;
  }

  .features h4 {
    color: var(--color2);
    font-size: 15px;
  }
  /* Main Feature media query end*/

  /* Product Section on Media Query start */

  .section-products {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));

    gap: 1rem;
    padding-bottom: 1rem;
  }

  .all-container-product img {
    max-height: 150px;
  }

  .img-content {
    max-height: 160px;
    max-width: 150px;
  }

  /* Product Section on Media Query end */

  /* About Section media query start */

  .section {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
  .additional-feature-information {
    min-height: 300px;
  }
  /* About Section media query end */

  /* Footer Section media query start */
  .img-container img {
    height: 40px;
  }
  /* Footer Section media query end */
}
/* Media query for tablet screen end */

/* Media query for laptop screen start */
@media (min-width: 768px) and (max-width: 1024px) {
  * {
    font-size: 16.5px;
  }

  main {
    grid-template-areas:
      "head head head"
      "feature-1 0 feature-2";
    position: relative;
    z-index: -2;
    margin: 0;
  }

  .head {
    min-height: 600px;
  }
  .feature-1 {
    min-height: 220px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .feature-2 {
    min-height: 220px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .features a {
    padding: 5px;
  }

  .features h2 {
    color: var(--color2);
    font-size: 15px;
  }

  .features h4 {
    color: var(--color2);
    font-size: 15px;
  }
  /* Main Feature media query end*/

  /* Product Section on Media Query start */

  .section-products {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));

    gap: 1rem;
    padding-bottom: 1rem;
  }

  .all-container-product img {
    max-height: 150px;
  }

  .img-content {
    max-height: 160px;
    max-width: 150px;
  }

  /* Product Section on Media Query end */

  /* About Section media query start */

  .section {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
  .additional-feature-information {
    min-height: 300px;
  }
  /* About Section media query end */

  /* Footer Section media query start */
  .img-container img {
    height: 40px;
  }
  /* Footer Section media query end */
}
/* Media query for laptop screen end */
